<h1>Submit Information</h1>

<div>
  <form method="post" action="database.csv">
  <input type="hidden" name="_method" value="put">  
  <fieldset>
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name">
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </fieldset>
    <fieldset>
      <label for="phone">Phone Number</label>
      <input type="phone" name="phone" id="phone">
    </fieldset>
    <input type="submit">
  </form>
</div>